<html>

{{ partial "html_head" }}
{{ block "custom_head" . }}
    <!-- The part of the page that begins to differ between templates -->
{{ end }}

<body>
  {{ partial "site_sidebar" . }}
  {{ partial "site_nav" . }}
  <!-- Code that all your templates share, like a header -->
  <div class="ui pusher">
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }} 
  </div>
  {{ block "footer" . }}
  <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ partial "footer" . }} 
  {{ end }}
</body>
{{ partial "javascript" . }}
{{ block "custom_javascript" . }}
    <!-- The part of the page that begins to differ between templates -->
{{ end }}

</html>
