{{ range (resources.Match "js/vendors.bundle.js") }}
{{ $vendors := . | resources.Fingerprint "sha512"}}
<script defer crossorigin="anonymous" src='{{ $vendors.RelPermalink }}' integrity='{{ $vendors.Data.Integrity }}'></script>
{{end}}

{{ range (resources.Match "js/all.bundle.js") }}
{{ $bundle := . | resources.Fingerprint "sha512"}}
<script defer crossorigin="anonymous" src='{{ $bundle.RelPermalink }}' integrity='{{ $bundle.Data.Integrity }}'></script>
{{end}}

{{ range (resources.Match "js/semanticExtras.bundle.js") }}
{{ $semanticExtras := . | resources.Fingerprint "sha512"}}
<script defer crossorigin="anonymous" src='{{ $semanticExtras.RelPermalink }}' integrity='{{ $semanticExtras.Data.Integrity }}'></script>
{{end}}
